@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-fadeSlide {
        @apply opacity-0 translate-y-4 transition-all duration-500;
    }
    .animate-fadeSlide.appear {
        @apply opacity-100 translate-y-0;
    }
}
